<main class="text-bg-light p-5">
    <section>
        <hr>
        <div class="display-3">Lesson 2</div>
        <hr>

        <h1 class="text-center text-uppercase">Hello World!</h1>
        <h2 class="text-end text-lowercase">Second title</h2>
        <h3 class="text-capitalize">thirty title one two</h3>

        <hr>

        <div class="display-1 text-muted">Hello World!</div>
        <div class="display-5">Second title</div>
        <div class="display-6">Thirty title</div>

        <hr>

        <div class="text-end text-muted">
            Дополнительный <span class="display-6">текст</span>
        </div>

        <hr>

        <button class="btn btn-primary">
            <span class="text-uppercase"> Test button</span>
        </button>

        <a href="/" class="btn btn-link">Home</a>

        <hr>

        <p class="text-primary">My first text</p>

        <hr>

        <div class="card">
            <div class="card-body">
                <button class="btn btn-outline-primary btn-lg">Add text</button>
                <button class="btn btn-outline-secondary btn-sm">Edit text</button>
                <button class="btn btn-outline-danger">Delete text</button>
            </div>
        </div>

        <hr>

        <div class="card">
            <div class="card-body">
                This is content
            </div>
        </div>

    </section>

    <section>
        <hr>
        <div class="display-3">Lesson 3</div>
        <hr>

        <div class="row gy-5">
            <div class="col-12">
                <div class="card">
                    <img class="card-img-top" src="https://picsum.photos/1200/600" alt="product photo">
                    <div class="card-body">
                        <h5 class="card-title text-bg-primary">Productc #1656</h5>
                        <p class="text-bg-secondary">Product description</p>
                        <a href="#" class="btn btn-primary">Open product</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card text-bg-primary">
                    <div class="card-header">
                        <div class="card-title">Menu</div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a class="btn btn-link" href="/">Home page</a>
                        </li>
                        <li class="list-group-item"><a class="btn btn-link" href="/summary">Summary page</a></li>
                        <li class="list-group-item"><a class="btn btn-link" href="/skills">Skils page</a></li>
                    </ul>
                    <div class="card-footer">
                        <button class="btn btn-dark btn-sm">Update list</button>
                    </div>
                </div>
            </div>

            <div class="col-9">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>
                                #id
                            </th>
                            <th>name</th>
                            <th>age</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1</th>
                            <td>Petro</td>
                            <td>45</td>
                        </tr>
                        <tr>
                            <th>2</th>
                            <td>Vasyl</td>
                            <td>35</td>
                        </tr>
                        <tr>
                            <th>3</th>
                            <td>Vova</td>
                            <td>48</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="col-12">

            <div class="row">

                <div class="row g-2">
                    <div class="col-3">
                        <div class="card text-bg-success">
                            <div class="card-header text-center">Header</div>
                            <div class="card-body text-center">
                                <h6 class="card-title">Title</h6>
                                <p>This is content in our box</p>
                                <button class="btn btn-outline-dark">Click!</button>
                            </div>
                            <div class="card-footer text-center">footer</div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card text-bg-success">
                            <div class="card-header text-center">Header</div>
                            <div class="card-body text-center">
                                <h6 class="card-title">Title</h6>
                                <p>This is content in our box</p>
                                <button class="btn btn-outline-dark">Click!</button>
                            </div>
                            <div class="card-footer text-center">footer</div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card text-bg-success">
                            <div class="card-header text-center">Header</div>
                            <div class="card-body text-center">
                                <h6 class="card-title">Title</h6>
                                <p>This is content in our box</p>
                                <button class="btn btn-outline-dark">Click!</button>
                            </div>
                            <div class="card-footer text-center">footer</div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card text-bg-success">
                            <div class="card-header text-center">Header</div>
                            <div class="card-body text-center">
                                <h6 class="card-title">Title</h6>
                                <p>This is content in our box</p>
                                <button class="btn btn-outline-dark">Click!</button>
                            </div>
                            <div class="card-footer text-center">footer</div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card text-bg-success">
                            <div class="card-header text-center">Header</div>
                            <div class="card-body text-center">
                                <h6 class="card-title">Title</h6>
                                <p>This is content in our box</p>
                                <button class="btn btn-outline-dark">Click!</button>
                            </div>
                            <div class="card-footer text-center">footer</div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card text-bg-success">
                            <div class="card-header text-center">Header</div>
                            <div class="card-body text-center">
                                <h6 class="card-title">Title</h6>
                                <p>This is content in our box</p>
                                <button class="btn btn-outline-dark">Click!</button>
                            </div>
                            <div class="card-footer text-center">footer</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-12">
            <div class="row">
                <div class="row g-5">
                    <div class="card text-bg-success">
                        <div class="card-header text-center">Header</div>
                        <div class="card-body text-center">
                            <h6 class="card-title">Title</h6>
                            <p>This is content in our box</p>
                            <button class="btn btn-outline-dark">Click!</button>
                        </div>
                        <div class="card-footer text-center">footer</div>

                    </div>
                </div>
            </div>
        </div>

    </section>

    <section>
        <hr>
        <div class="display-3">Lesson 4</div>
        <hr>
        <div class="row">
            <div class="col-12 mb-4">
                <div class="nav nav-tabs">
                    <div class="nav-item">
                        <a href="#" class="nav-link">Home</a>
                    </div>
                    <div class="nav-item">
                        <a href="#" class="nav-link active">Catalog</a>
                    </div>
                    <div class="nav-item">
                        <a href="#" class="nav-link">Contacts</a>
                    </div>
                    <div class="nav-item">
                        <a href="#" class="nav-link disabled">Emblems</a>
                    </div>
                    <div class="nav-item">
                        <a href="#" class="nav-link">FAQ</a>
                    </div>
                </div>
            </div>
            <div class="col-4 pe-5">
                <div class="card">
                    <div class="pt-2 pb-1 px-2">
                        <div class="nav flex-column">
                            <div class="nav-item mb-2">
                                <div class="card">
                                    <a href="#" class="nav-link">Home</a>
                                </div>
                            </div>
                            <div class="nav-item mb-2">
                                <div class="card"> <a href="#" class="nav-link active">Catalog</a>
                                </div>
                            </div>
                            <div class="nav-item mb-2">
                                <div class="card">
                                    <a href="#" class="nav-link">Contacts</a>
                                </div>
                            </div>
                            <div class="nav-item mb-2">
                                <div class="card">
                                    <a href="#" class="nav-link disabled">Emblems</a>
                                </div>
                            </div>
                            <div class="nav-item mb-2">
                                <div class="card">
                                    <a href="#" class="nav-link">FAQ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">PC & Notebooks</a>
                            </li>
                            <li class="breadcrumb-item">
                                MacBook
                            </li>
                        </ol>
                    </div>
                    <div class="col-12">
                        <h6 class="m-0">Hello world! <span
                                class="badge text-bg-danger rounded-pill text-uppercase">Again</span>
                        </h6>
                        <button class="btn btn-warning rounded-pill m-3">Click me!</button>
                        <div class="alert alert-danger rounded-pill">This is important info!</div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section>
        <hr>
        <div class="display-3">Lesson 5</div>
        <hr>
        <div class="p-2">
            <div class="row g-5">
                <div class="col-12">
                    <label class="form-label">Add email adress</label>
                    <input class="form-control">
                    <div class="form-text text-danger">You need add youre email!</div>
                </div>
                <div class="col-12">
                    <label class="form-label">Add secondary email adress</label>
                    <input disabled class="form-control">
                    <div class="form-text text-danger">You need add youre email!</div>
                </div>
                <div class="col-12">
                    <label class="form-label">Color selector</label>
                    <div class="row">
                        <div class="col-2">
                            <input type="color" class="form-control">
                        </div>
                    </div>
                    <div class="form-text text-warning">You need select color!</div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-2">
                            <label class="form-label pt-1">Add email</label>
                        </div>
                        <div class="col-6">
                            <input class="form-control form-control-sm">
                        </div>
                        <div class="col-4 ps-4 pt-1">
                            <div class="form-text text-warning">You need add email!</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="my-5">
                <hr>
            </div>

            <div class="col-12">
                <label class="form-label">Select role</label>
                <select class="form-select form-select-lg">
                    <option selected>Open list</option>
                    <option value="1">Admin</option>
                    <option value="2">User</option>
                    <option value="3">Guest</option>
                </select>
                <div class="form-text text-primary">You need select role!</div>
            </div>

            <div class="my-5">
                <hr>
            </div>

            <div class="col-12">
                <div class="form-label text-primary">You need select fruit!</div>
                <div class="form-check">
                    <label class="form-check-label">Apple</label>
                    <input name="food" type="checkbox" class="form-check-input">
                </div>
                <div class="form-check">
                    <label class="form-check-label">Orange</label>
                    <input name="food" type="checkbox" class="form-check-input">
                </div>
                <div class="form-check">
                    <label class="form-check-label">Banana</label>
                    <input name="food" type="checkbox" class="form-check-input">
                </div>
            </div>

            <div class="my-5">
                <hr>
            </div>

            <div class="col-12">
                <div class="form-label text-primary">You need select <span
                        class="alert alert-warning pt-0 pb-1 ">one</span>
                    fruit!
                </div>
                <div class="form-check">
                    <label class="form-check-label">Apple</label>
                    <input name="food" type="radio" class="form-check-input">
                </div>
                <div class="form-check">
                    <label class="form-check-label">Orange</label>
                    <input name="food" type="radio" class="form-check-input">
                </div>
                <div class="form-check">
                    <label class="form-check-label">Banana</label>
                    <input name="food" type="radio" class="form-check-input">
                </div>
            </div>

            <div class="my-5">
                <hr>
            </div>

            <div class="col-12">
                <div class="form-check form-switch">
                    <label class="form-check-label">Understand?</label>
                    <input type="checkbox" class="form-check-input">
                </div>
            </div>

            <div class="my-5">
                <hr>
            </div>

            <div class="display-3">Lesson 5</div>
            <hr>
            <h1> Hello! <i class="bi bi-emoji-smile-fill"></i>
            </h1>

            <button class="btn btn-warning">
                <i class="bi bi-sd-card-fill"></i>
            </button>

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-airplane-fill" viewBox="0 0 16 16">
                <path
                    d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918-.375 2.253 1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318-.376-2.253-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849Z" />
            </svg>

        </div>

    </section>

</main>