<main class="text-bg-light">
    <section>
        <hr>
        <div class="display-3">Lesson 2</div>
        <hr>

        <h1 class="text-center text-uppercase">Hello World!</h1>
        <h2 class="text-end text-lowercase">Second title</h2>
        <h3 class="text-capitalize">thirty title one two</h3>

        <hr>

        <div class="display-1 text-muted">Hello World!</div>
        <div class="display-5">Second title</div>
        <div class="display-6">Thirty title</div>

        <hr>

        <div class="text-end text-muted">
            Дополнительный <span class="display-6">текст</span>
        </div>

        <hr>

        <button class="btn btn-primary">
            <span class="text-uppercase"> Test button</span>
        </button>

        <a href="/" class="btn btn-link">Home</a>

        <hr>

        <p class="text-primary">My first text</p>

        <hr>

        <div class="card">
            <div class="card-body">
                <button class="btn btn-outline-primary btn-lg">Add text</button>
                <button class="btn btn-outline-secondary btn-sm">Edit text</button>
                <button class="btn btn-outline-danger">Delete text</button>
            </div>
        </div>

        <hr>

        <div class="card">
            <div class="card-body">
                This is content
            </div>
        </div>

    </section>

    <section>
        <hr>
        <div class="display-3">Lesson 3</div>
        <hr>

        <div class="row gy-5">
            <div class="col-12">
                <div class="card">
                    <img class="card-img-top" src="https://picsum.photos/1200/600" alt="product photo">
                    <div class="card-body">
                        <h5 class="card-title text-bg-primary">Productc #1656</h5>
                        <p class="text-bg-secondary">Product description</p>
                        <a href="#" class="btn btn-primary">Open product</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card text-bg-primary">
                    <div class="card-header">
                        <div class="card-title">Menu</div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a class="btn btn-link" href="/">Home page</a>
                        </li>
                        <li class="list-group-item"><a class="btn btn-link" href="/summary">Summary page</a></li>
                        <li class="list-group-item"><a class="btn btn-link" href="/skills">Skils page</a></li>
                    </ul>
                    <div class="card-footer">
                        <button class="btn btn-dark btn-sm">Update list</button>
                    </div>
                </div>
            </div>

            <div class="col-9">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>
                                #id
                            </th>
                            <th>name</th>
                            <th>age</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1</th>
                            <td>Petro</td>
                            <td>45</td>
                        </tr>
                        <tr>
                            <th>2</th>
                            <td>Vasyl</td>
                            <td>35</td>
                        </tr>
                        <tr>
                            <th>3</th>
                            <td>Vova</td>
                            <td>48</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="col-12">

            <div class="row">

                <div class="row g-2">
                    <div class="col-3">
                        <div class="card text-bg-success">
                            <div class="card-header text-center">Header</div>
                            <div class="card-body text-center">
                                <h6 class="card-title">Title</h6>
                                <p>This is content in our box</p>
                                <button class="btn btn-outline-dark">Click!</button>
                            </div>
                            <div class="card-footer text-center">footer</div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card text-bg-success">
                            <div class="card-header text-center">Header</div>
                            <div class="card-body text-center">
                                <h6 class="card-title">Title</h6>
                                <p>This is content in our box</p>
                                <button class="btn btn-outline-dark">Click!</button>
                            </div>
                            <div class="card-footer text-center">footer</div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card text-bg-success">
                            <div class="card-header text-center">Header</div>
                            <div class="card-body text-center">
                                <h6 class="card-title">Title</h6>
                                <p>This is content in our box</p>
                                <button class="btn btn-outline-dark">Click!</button>
                            </div>
                            <div class="card-footer text-center">footer</div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card text-bg-success">
                            <div class="card-header text-center">Header</div>
                            <div class="card-body text-center">
                                <h6 class="card-title">Title</h6>
                                <p>This is content in our box</p>
                                <button class="btn btn-outline-dark">Click!</button>
                            </div>
                            <div class="card-footer text-center">footer</div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card text-bg-success">
                            <div class="card-header text-center">Header</div>
                            <div class="card-body text-center">
                                <h6 class="card-title">Title</h6>
                                <p>This is content in our box</p>
                                <button class="btn btn-outline-dark">Click!</button>
                            </div>
                            <div class="card-footer text-center">footer</div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card text-bg-success">
                            <div class="card-header text-center">Header</div>
                            <div class="card-body text-center">
                                <h6 class="card-title">Title</h6>
                                <p>This is content in our box</p>
                                <button class="btn btn-outline-dark">Click!</button>
                            </div>
                            <div class="card-footer text-center">footer</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-12">
            <div class="row">
                <div class="row g-5">
                    <div class="card text-bg-success">
                        <div class="card-header text-center">Header</div>
                        <div class="card-body text-center">
                            <h6 class="card-title">Title</h6>
                            <p>This is content in our box</p>
                            <button class="btn btn-outline-dark">Click!</button>
                        </div>
                        <div class="card-footer text-center">footer</div>

                    </div>
                </div>
            </div>
        </div>

    </section>

    <section>
        <hr>
        <div class="display-3">Lesson 4</div>
        <hr>

    </section>

</main>