<main>

    <h1 class="text-center text-uppercase">Hello World!</h1>
    <h2 class="text-end text-lowercase">Second title</h2>
    <h3 class="text-capitalize">thirty title one two</h3>

    <hr>

    <div class="display-1 text-muted">Hello World!</div>
    <div class="display-5">Second title</div>
    <div class="display-6">Thirty title</div>

    <hr>

    <div class="text-end text-muted">
        Дополнительный <span class="display-6">текст</span>
    </div>

    <hr>

    <button class="btn btn-primary">
        <span class="text-uppercase"> Test button</span>
    </button>

    <a href="/" class="btn btn-link">Home</a>

    <hr>

    <p class="text-primary">My first text</p>

    <hr>

    <div class="card">
        <div class="card-body">
            <button class="btn btn-outline-primary btn-lg">Add text</button>
            <button class="btn btn-outline-secondary btn-sm">Edit text</button>
            <button class="btn btn-outline-danger">Delete text</button>
        </div>
    </div>

    <hr>

    <div class="card">
        <div class="card-body">
            This is content
        </div>
    </div>

</main>